@use "../global" as *;

/* ===============================================
# page
=============================================== */

#about{
    .about{
        &__top{
            text-align: center;
            &--inner{
                max-width: 996px;
                padding: 40px 20px 64px;
                margin-inline: auto;
            }

        }


        &__company{
            background: $blue;
            h2{
                &::before{
                    background: $pink-3rd;

                }
            }

            dl{
                max-width: 960px;
                width: 100%;
                margin-inline: auto;
            }
        }
    }
}