@use "../global" as *;
/* ===============================================
# topページ
=============================================== */

main {
    margin-top: 72px;
    background: $bg-main;

    #kv {
        
    }
    // #kv
}
// main