@use "../global" as *;
/* ===============================================
# topページ
=============================================== */

main {
    padding: 70px 0;
    
    #kv {
        margin: 0 auto; 
        max-width: 480px;
        width: 100%;
        position: relative;


        .kv-container {

            .kv-frame {
                margin: 0 auto;
                width: calc(100% - 24px);

                img {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    height: auto;
                }
            }

            // .kv-frame

            .catch_copy-outer {
                padding: 0 2px;
                position: absolute;
                top: 230px;
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .catch_copy {
                    background: $cc-bg;
                    border-radius: 50px;
                    width: fit-content;
                    display: inline-block;
                    box-shadow: 2px 3px 0 0 $shadow;

                    p {
                        padding: 4px 1.5rem;
                        font-size: 1rem;
                        line-height: 1.4rem;
                    }

                    &:nth-child(odd) {
                        align-self: flex-start;
                    }

                    &:nth-child(even) {
                        align-self: flex-end;
                    }
                }

                // catch_copy
            }

            // .catch_copy-outer

            .kv-inner {
                margin-top: 200px;
                text-align: center;
                font-size: 1.375rem;
                span {
                    color: $text-sub;
                    font-size: 1.375rem;
                }
            }

        }

        // .kv-container
    }

    // #kv


        /* ========topのお知らせ======= */

    #news {
        margin: 60px auto 0;

        background: $bg-yellow;

        .news-outer {
            margin: 0 auto ;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 2rem;
            
            .news-brock {
                width: 100%;
                
                .date {
                    margin:0 4px 4px;
                    span {
                        font-size: 0.875rem;
                        letter-spacing: 2px;
                    }
                    p {
                        padding: 0 10px;
                        display: inline-block;
                        font-size: 0.875rem;
                        color: white;
                        background: $orange-2nd;
                        border-radius: 4px;
                    }
                    
                }
                // .date
                .news-text {
                    margin-top: 8px;
                    font-size: 0.875rem;
                }
            }
            // .news-brock
            
        }
        // .news-outer

        .btn {
            margin-top: 1rem;
            padding: 8px 20px;
            background: $cc-bg;
            text-align: center;
        }

    }
    // #news

}

// main