/* ===============================================
# フォントのCDN
=============================================== */
// Zen Maru Gothic
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

// Noto Serif（100〜900）
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

// Noto Serif Japanese（200〜900）
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');